[submodule "JavaScript/JavaScript3/rock"]
	path = JavaScript/JavaScript3/rock
	url = https://github.com/aliahdab/foocoding-course
[submodule "Node.js"]
	path = Node.js
	url = git@github.com:aliahdab/Node.js.git
