.alert-error {
  color: red;
}


body,
html {
  width: 95%;
  height: 95%;
}

#root {
  display: grid;
  flex-direction: row-reverse;
  align-items: center;
}

#leftDiv {
  font-size: 1.1em;
  margin-top: 1%;
  min-width: 25%;
  height: 50%;
  background-color: rgb(201, 224, 253);
  display: block;
}
#rightDiv {
  margin: 1em;
  width: 90%;
  height: 40em;

}

#root {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  font-size: 25%;
  font-family: arial;
  margin-top: 10%;
  margin-left: 1%;
}

#ul {

  column-count: 4;
  column-gap: 1em;
}

#li {
  text-align: center;
  margin: 2em;
  display: inline-block;
  width: 17%;
}

img {
  padding: 1em;
  width:100px;
}
