.alert-error {
  color: red;
}

body,
html {
  width: 95%;
  height: 95%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#leftDiv {
  font-size: 1.1em;
  min-width: 24%;
  max-width: 24%;
  height: 60%;
  background-color: rgb(201, 224, 253);
  display: block;
  margin: 0.5em;
}

#rightDiv {
  background-color: rgb(201, 224, 253);
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  height:85%;
  display: block;
  margin: 0.5em;
}

p {
  font-size: 5%;
  font-family: arial;
  margin-top: 10%;
  margin-left: 1%;
}

#mList {
  margin:1%;
  padding: 1%;
  font-size: 50px;
  background-color: rgb(222, 229, 273);
  font-size: 1.5em;
  min-width: 20%;
  max-width: 20%;
  height: 65%;

}

li {
  list-style-type: none;
}

#ul {
  column-count: 4;
  column-gap: 1em;
}

a {
  font-size: 15px;
  color: black;
  color: currentColor;
  opacity: 0.8;
  text-decoration: none;
}

img {
  margin: 2em;
  width: 80px;
}

@media screen and (max-width:768px) {
  .header {
    margin-left: 5%;
    width: 100%;
  }

  .select {
    height: 70%;
    width: 50%;
  }

  .container {
    margin: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .leftDiv {
    margin: 3%;
    width: 90%;
    height: 2%;
  }

  .Contributions-header {
    font-size: 120%;
    font-family: arial;
    margin-top: 50%;
    margin-left: 40%;
  }

  .rightDiv {
    width: 100%;
  }
}


@media screen and (max-width:390px) {
  .header {
    margin-left: 1%;
    width: 96%;
  }

  .select {
    height: 70%;
    width: 50%;
  }

  .container {
    margin: 1%;
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .leftDiv {
    margin: 5%;
    width: 90%;
    height: 2%;
    font-size: 100%;
  }

  .Contributions-header {
    font-size: 100%;
    font-family: arial;
    margin-top: 100%;
    margin-left: 40%;
  }

  .rightDiv {
    width: 100%;

  }

  .img {
    padding: 10%;
    margin: 60%;
    width: 200%;
  }

  #ul {

    column-count: 4;
    column-gap: 10%;
  }

  .li {
    padding: 6%;
    font-size: 48%;
    margin: 11%;
    text-align: center;
    display: inline-block;
    width: 15%;
  }
}