.alert-error {
  color: red;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  font-size: 1.3em;
  width: 100%;
  height: 100%;
}

.header {
  color: white;
  margin: 1em;
  height: 3em;
  width: 25em;
  border: 1px solid rgb(5, 39, 131);
  background-color: rgba(12, 15, 13, 0.514);

}

.leftDiv {
  margin: 1em;
  width: 86em;
  height:40em;
  border: 3px solid black;
  background-color: rgba(133, 96, 28, 0.514);

}

.rightDiv {
  margin: 2em;
  width: 86em;
  height: 40em;
  border: 3px solid black;
  background-color: rgba(133, 96, 28, 0.514);

}

.container {
  margin: 1em;
  width: 70em;
  height: 50em;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    list-style-type: none;
}

.li {
    text-align: center;
    display: inline-block;
    width: 30%;
    padding-bottom: 20px;
    margin-right: 5px;
    padding-right: 10px
}

.img {
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}